<div class="container-fluid my-2">
  <custom-table [columns]="columns" [data]="data">
    <ng-template #nationalityTemplate templateName="nationalityTemplate" let-itemData="item" let-index="index">
      <span class="badge badge-pill border shadow bg-success text-light">
        {{ itemData?.nationality }}
      </span>
    </ng-template>

    <ng-template #ageTemplate templateName="ageTemplate" let-itemData="item" let-index="index">
      <span class="badge rounded-circle p-1 border shadow bg-dark">
        {{ itemData?.age }}
      </span>
    </ng-template>
  </custom-table>

<router-outlet></router-outlet>
</div>
