<table [class]="tableClasses">
  <thead>
    <tr>
      <ng-container *ngFor="let col of columns">
        <th scope="col">
          {{ col?.header! }}
        </th>

      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let index = index">
      <ng-container *ngFor="let col of columns">
        <td>
          <ng-container [ngSwitch]="col?.type">
            <ng-container *ngSwitchCase="'custom'">
              <ng-container *ngIf="(templates | templateByTemplateName: col?.templateName!) as template">
                <ng-container [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{item: item, index: index}"></ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span>
                {{ item?.[col?.field!] }}
              </span>
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
